*{
  margin: 0;
  box-sizing: border-box;
}
 
body{
  display: flex;
  justify-content: center;
  padding: 32px;
}
 
.todo__title{
  margin-bottom: 20px;
  text-align: center;
}
 
.todo{
  padding: 32px;
  background-color: #fff;
  border: 1px solid #000;
}
 
.todo__new{
  display: flex;
  padding: 15px 0 15px;
}
 
.todo__add{
  margin-left: 32px;
  cursor: pointer;
}
 
.todo__task{
  cursor: default;
  display: flex;
  align-items: center;
  background-color: #F5DCFF;
  border-radius: 5px;
  margin-bottom: 10px;
  /* overflow: hidden;
  text-overflow: ellipsis; */
  max-width: 370px;
}

.todo__list{
  padding: 0;
  box-sizing: border-box;
}
 
.todo__task-del{
  width: var(--size);
  height: var(--size);
  line-height: var(--size);
  border: 1px solid #E2E2E2;
  text-align: center;
  font-size: 20 px;
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
  --size: 30px;
  margin-left: auto;
  margin-right: 0;
  border-radius: 5px;
  font-size: 20px;
  background-color: #AB235D;
  line-height: cal(var(--size)*0.88);
}
.checkbox{
  width:20px;
  height:20px;
  margin-right: 10px;
}
.todo__del-all{
  margin: 20px 20px;
  cursor: pointer;
  background-color: #AB235D;
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: 0;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}
 
.todo__checkAll{
  display: flex;
  justify-content: center;
  cursor: pointer;
}
 
.todo__checkAll_checkbox{
  margin-left: 32px;
  width:20px;
  height:20px;
}
 
.todo__show{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-content: stretch;
  cursor: pointer;
}
 
.todo__paganation{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
 
.todo__pagination_btn{
  border-radius: 50%;
  margin: 10px;
  width: 25px;
  height: 25px;
  background-color: #F5DCFF;
  border: none;
  cursor: pointer;
  align-items: center;
}
  
.active{
  background-color: pink; 
}
 