*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffb3d5;
    display: flex;
    justify-content: center;
    padding: 32px;
}

.todo__title{
    margin-bottom: 20px;
    text-align: center;
}

.todo{
    padding: 32px;
    background-color: #fff;
    border: 1px solid #000;
}

.todo__new{
    display: flex;
    padding: 16px 0 32px;
}

.todo__add{
    margin-left: 32px;
    cursor: pointer;
}


.todo__task {
    cursor: default;
    display: flex;
    align-items: center;
    background-color: #F5DCFF;
    border-radius: 5px;
    margin-bottom: 10px;
}

.todo__list{
    padding: 0;
}
